$color-primary: #004777;
$color-white: #f1efef;
$color-black-1: #110202;
$color-black-2: rgb(24, 24, 24, 0.5);

$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;

// "mayowa@gmail.com"
// mayowaDab1