.tagName {
  font-size: 1rem;
  color: $color-primary;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: $font-family-primary;
}

.error {
  color: red;
  font-size: 1rem;
  text-align: center;
}
