.mb-bg {
  margin-bottom: 3rem;
}
.mb-md {
  margin-bottom: 2rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mt-bg {
  margin-top: 3rem;
}
.mt-md {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mr-bg {
  margin-right: 3rem;
}
.mr-md {
  margin-right: 2rem;
}

.mr-sm {
  margin-right: 1rem;
}

.ml-bg {
  margin-left: 3rem;
}
.ml-md {
  margin-left: 2rem;
}

.ml-sm {
  margin-left: 1rem;
}

.ma {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
