.friends {
  width: 100%;
  margin: auto auto auto auto;
  height: 100%;

  &__list {
    margin-top: 2rem;
    // overflow-y: scroll;
    height: 93.4%;
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 40px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-primary;
    }
  }
  &__item {
    width: 100%;
    margin: auto;
    // background-color: rgba($color-white, 0.4);
    // border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1.2rem;
    // margin-bottom: 2re m;
    
    &:first-child{
      
      border-top: 1px solid white;
    }
    &:hover {
      background-color: rgba($color-white, 0.8);
      cursor: pointer;

      p{
        color: #000000
      }
    }

    p {
      font-size: 1.1rem;
      color: $color-white;
      font-weight: 500;
      width: 90%;
      margin: auto;
      letter-spacing: 2px;
    }
  }
}
